<section>

    <header>

        <h1>{{phone.name}}</h1>

        <p>{{phone.description}}</p>

        <div class="phone-images">

            <img ng-src="{{img}}"
                 class="phone"
                 ng-repeat="img in phone.images"
                 ng-class="{active:mainImg==img}">

        </div>

        <ul class="phone-thumbs">
            <li ng-repeat="img in phone.images">
                <img ng-src="{{img}}" ng-click="setMainImg(img)"> <!-- asociación de un evento al elemento -->
            </li>
        </ul>

        <ul class="specs">

            <li>

                <span>Availability and Networks</span>

                <dl>

                    <dt>Infrared</dt>
                    <dd>{{phone.connectivity.infrared | checkmark}}</dd> <!-- aplico el filtro personalizado definido en filters.js -->

                    <dt>GPS</dt>
                    <dd>{{phone.connectivity.gps | checkmark}}</dd> <!-- aplico el filtro personalizado definido en filters.js -->

                </dl>

            </li>

                <span>Additional Features</span>
                <dd>{{phone.additionalFeatures}}</dd>

            </li>

        </ul>

    </header>

</section>